/* Universal Selectors */
html,
body {
    margin: 0;
    background-color: rgb(194, 246, 255);
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
    --fontSize: 15px;
}

/* SideBar Selectors */

.sideBar {
    background-color: white;
    width: 15%;
    height: 100vh;
    padding: 0 15px;
    position: fixed;
    /* float: left; */
}

.sideBar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

.logo img {
    height: 120px;
    object-fit: cover;
}

.sideNavs a,
.button a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.sideNavs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
}

.sideNavs li {
    padding: 10px;
    font-size: var(--fontSize);
    align-items: center;
}


.sideNavs li img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.button {
    color: #fff;
    background-color: rgb(182, 37, 37);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 30px 30px;
}

/* Header Section */

.header {
    background-color: #fff;
    display: flex;
    width: 75%;
    float: right;
    border-radius: 10px;
    margin: 10px 15px 10px 10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    /* flex: 4; */
}

.header h1 {
    padding: 0 40px;
    font-size: var(--fontSize);
    font-weight: 500;
}

.rightOptions {
    display: flex;
    align-items: center;
    flex: .3;
    justify-content: space-around;
}

.rightOptions img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.rightOptions img:hover {
    outline: 10px solid rgb(25, 180, 231);
    transition: .1s;
    border: none;
}

.rightOptions .batch {
    color: gray;
    font-weight: 500;
}

/* Cards Styles */

.card1,
.card2,
.card3 {
    background-color: #fff;
    width: 25%;
    padding: 0px 30px;
    height: 200px;
    font-weight: 500;
    border-radius: 15px;
}

.card1 h1,
.card2 h1,
.card3 h1 {
    font-size: var(--fontSize);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(214, 211, 211);
    border-style: none none solid none;
}

.card1 img,
.card3 .header img {
    /* margin-top: 30px; */
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.card1 span {
    color: gray;
}

.card1 p {
    font-size: 15px;
}

/* Card2 Styles */
.card2 {
    background-color: rgb(24, 16, 70);
    color: #fff;
}

.card2 span {
    font-weight: bold;
    color: grey;
}

.container2 h1 span {
    font-size: 25px;
    color: #f00;
    /* background-color: ; */
}

#sample {
    position: relative;
    top: 40px;
    line-height: 7px;
}

.wrap {
    border: 1px solid rgb(255, 255, 255);
    border-style: none none solid none;
    padding-bottom: 15px;
    font-weight: 400;
}

.instructor {
    padding: 40px;
    color: rgb(119, 209, 119);
    font-weight: bold;
    text-align: center;
}

.container2 {
    text-align: center;
    color: black;
    background-color: #fff;
    margin: -10px -30px -40px;
    position: relative;
    border-radius: 15px 15px 0 0;
    height: 40px;
}

.container2 h1 {
    position: relative;
}

.card3 .header {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.header p {
    font-weight: bold;
}

/* Card3 Styles */

.card3 .header {
    border: 1px solid gray;
    border-style: none none solid none;
    border-radius: 0;
    text-align: center;
}

.btn {
    background-color: rgb(255, 51, 0);
    padding: 7px;
    border-radius: 5px;
}

.numeric {
    text-align: center;
    font-size: var(--fontSize);
}

.numeric i {
    color: #f00;
    margin: 0 25px;
}

.combo,
.assign {
    text-align: center;
    line-height: 30px;
    color: rgb(77, 77, 77);
    font-weight: 700;
}

/*All Card Wrapper */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    float: right;
    padding: 10px 20px;
}

/* Batch Students Styles */

.batch-container {
    width: 80%;
    float: right;
    margin: 10px 15px 10px 10px;
    height: 50vh;
    background: #fff;
    border: 1px solid #2c0404;
    border-radius: 15px 15px;
    overflow: hidden;
}

.batch-container .StickyHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 10px 20px;
    overflow: auto;
}

.batch-container .StickyHeader .left {
    flex: 5;
    font-size: 20px;
    font-weight: 500;
}

.StickyHeader .left .highlighter {
    color: orangered;
    font-weight: bold;
    font-size: 30px;
}

.batch-container .StickyHeader .center {
    flex: 5;
    font-size: 25px;
    font-weight: 700;
    color: rgb(103, 172, 236);
}

.navsHeader {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px ;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 110, 255), #53baf5);
    padding: 10px;
}

.navsHeader li {
    color: #fff;
    font-weight: 500;
}

.studentsInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    overflow: auto;
    /* gap: 10px; */
}

/* ::-webkit-scrollbar{
    width: 5px;
    } */
.studentsInfo ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 95%;
}

.studentsInfo::-webkit-scrollbar {
    width: 10px;
}

.studentsInfo::-webkit-scrollbar-thumb {
    background-color: #53baf5;
}

.studentsInfo::-webkit-scrollbar-track {
    background-color: gray;
}

ul li:last-child{
    background-color: #53baf5;
    padding: 10px;
    border-radius: 5px;
}